<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.lmoumou.animationstudydemo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.lmoumou.tween.TweenAnimationActivity"
                  android:label="补间动画"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.lmoumou.tween.TranslateActivity"
                  android:screenOrientation="portrait"
                  android:label="平移动画"/>

        <activity android:name="com.lmoumou.tween.ScaleAnimationActivity"
                  android:screenOrientation="portrait"
                  android:label="缩放动画"/>

        <activity android:name="com.lmoumou.tween.RotateAnimationActivity"
                  android:screenOrientation="portrait"
                  android:label="旋转动画"/>

        <activity android:name="com.lmoumou.tween.AlphaAnimationActivity"
                  android:screenOrientation="portrait"
                  android:label="透明度动画"/>

        <activity android:name="com.lmoumou.tween.AnimationSetActivity"
                  android:screenOrientation="portrait"
                  android:label="组合使用"/>

        <activity android:name="com.lmoumou.tween.TransitionAnimationActivcity"
                  android:screenOrientation="portrait"
                  android:label="Activity转场动画"/>

        <activity android:name="com.lmoumou.tween.FragmentAnimationActivity"
                  android:screenOrientation="portrait"
                  android:label="Fragment转场动画"/>

        <activity android:name="com.lmoumou.tween.ViewGroupAnimationActivity"
                  android:screenOrientation="portrait"
                  android:label="ViewGroupItem进出场效果"/>

        <!--逐帧动画-->
        <activity android:name="com.lmoumou.frame.FrameAnimationActivity"
                  android:screenOrientation="portrait"
                  android:label="逐帧动画"/>

        <!--属性动画-->
        <activity android:name="com.lmoumou.property.PropertyActivity"
                  android:screenOrientation="portrait"
                  android:label="属性动画"/>

        <activity android:name="com.lmoumou.property.ValueAnimatorActivity"
                  android:screenOrientation="portrait"
                  android:label="ValueAnimator"/>

    </application>

</manifest>